In [ ]:
%defaultDatasource jdbc:h2:mem:db

In [ ]:
CREATE TABLE Individuo (
  Id VARCHAR(5) NOT NULL,
  Genero VARCHAR(50),
  Idade VARCHAR(50),
  Empresa_Tec VARCHAR(50),
  Trabalho_remoto VARCHAR(50),
  PRIMARY KEY(Id)
) AS SELECT
    Timestamp,
    Gender,
    Age,
    tech_company,
    remote_work
FROM CSVREAD('./survey.csv');